* {
  font-family: monospace;
}

body {
  margin: 0;
}

:root {
  --canvas-width: 100vw;
  --canvas-height: 100vh;
  --border-width: 0px;
  --image-width: calc(var(--canvas-width) + var(--border-width) * 2);
}

#app {
  position: relative;
  display: block;
  width: var(--canvas-width);
  height: var(--canvas-height);
}

.ui {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

input[type='number'] {
  width: 2.9rem;
}

.test-canvas {
  position: fixed;
  left: 20px;
  top: 20px;

  width: calc(var(--canvas-width) / 4);
  height: calc(var(--canvas-height) / 4);

  border: 1px solid;
}