* {
  font-family: system-ui;
}

body {
  margin: 0;
}

:root {
  --canvas-width: 100vw;
  --canvas-height: 100vh;
  --border-width: 0px;
  --image-width: calc(var(--canvas-width) + var(--border-width) * 2);
}

#demo {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 1;
  border: 1px solid;
  height: 400px;
  width: 400px;
}

#app {
  position: relative;
  display: block;
  width: var(--canvas-width);
  height: var(--canvas-height);
}

.ui {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

input[type='number'] {
  width: 2.9rem;
}