* {
  font-family: monospace;
  margin-bottom: 1rem;
}

:root {
  --canvas-width: 700px;
  --border-width: 2px;
  --image-width: calc(var(--canvas-width) + var(--border-width) * 2);
}

#app {
  position: relative;
  display: block;
  width: var(--canvas-width);
  height: var(--canvas-width);

  border: var(--border-width) solid grey;
}

input[type='number'] {
  width: 2.9rem;
}

.box {
  position: relative;
}
.box p {
  position: absolute;
  bottom: 0;
  left: 1rem;
  color: white;
}

#done {
  color: black;
}

img {
  display: block;
  width: var(--image-width);
  height: auto;
  max-height: var(--image-width);
  max-width: 100%;

  object-fit: contain;
  object-position: left;
}
